.itemForm {
  display: flex;
  flex-direction: column;
  padding: 0, .5rem;
  align-items: center;
  justify-content: space-around;
}

.form-input-btn {
  background-color: goldenrod;
  padding: .45rem 0;
  border: none;
  border-radius: 15px;
  width: 75%;
}
