@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Monoton&family=Press+Start+2P&family=Righteous&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Righteous', cursive;
}

