
.amountLabel {
  color: fuchsia;
}
.amountLabel, .formInput{
  margin: .25rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.formInput {
  width: 3rem;
  color: black;
  font-size: large;
  border-radius: 8px;
}
